@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
*,
::after,
::before{   
    box-sizing: border-box;
}
body, html{
    margin:0;
    font-family:'Roboto', sans empattement ;
}
p,h1,h2,h3,h4{margin:0}