@use "../utils/colors.scss";
@use "../utils/mixins.scss";
$const:1rem;
footer
{
    background-color:colors.$dark-grey;
    padding:2rem $const;
    h2
    {
        color:colors.$blanc;
        @include mixins.fontsh;
        font-size: 1.2rem;
        margin: 0 0 $const;
    }
    p
    {
        color:colors.$blanc;
        margin: 0.5rem 0;
    }
    a
    {
        text-decoration: none;color:colors.$blanc;
    }
}