@use "../utils/colors.scss";
$const:1.2rem;
.localisation
{
    display: flex;
    background-color:colors.$grey;
    justify-content: center;
    padding:$const 1rem;
    font-size: $const;
    text-align: center;
    i
    {
        font-size: $const;
    }
    &__text
    {
        font-weight: 700;
        padding-left: 0.9rem;
    }
}
