@use "../utils/colors.scss";
@use "../utils/mixins.scss";
$const:1rem;
.menu
{

  background-color:colors.$light-grey;
  padding:2rem $const 4rem $const;
  h2
  {
    margin-bottom: $const;
  }
  &__card
  {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.2rem;
    @media(max-width:1022px)
    {
      grid-template-columns: repeat(1,1fr);
    }
    .new
    {
      position:relative;
      @include mixins.base-shadow(rgb(0 0 0 / 15%));
    }
    &::before
    {
      content:"Nouveau";
      position:absolute;
      height: 2rem;
      background-color: colors.$tertiare;
      color: darken(colors.$tertiare, 50%);
      padding: 0.5rem;
      border-radius: 0.125rem;
      margin-top:$const;
      right: $const;
    }
    .card
    {
      background-color:colors.$blanc;
      text-decoration: none;
      color:inherit;
      display: block;
      border-radius: $const ;
      &__image
      {
        height: 12rem;
        width: 100%;
        background-size: cover;
        border-radius: $const $const 0 0;
            
      } 
      @for $i from 1 through 4
      {
        &__image-#{$i}
        {
          object-fit: cover;
          background-image: url("../images/restaurants/menu-#{$i}.jpg") ;
         
        }
      }
      &__description
      {
        position: relative;
        padding: $const;
        h3
        {
          margin:0 0 0.25rem;
        }
        i
        {
          font-size: 1.8rem;
          position: absolute;
          right:$const;
          top:50%;
          @include mixins.translation;
        }
        .fas
        {
          background-image: linear-gradient(0.49turn,rgba(147,86,220,1),rgba(255,121,218,1));
          background-clip: text;
          -webkit-background-clip: text;
          color: transparent;
          opacity: 0;
          transition: all 200ms ease-in-out;
          &:hover, &:active
          {
            @include mixins.opacity1;
            transform: translateY(-50%) scale(1.02);
          }
        }
        
      }
     
    }
  }
}

.loader_spinner
{
  position: fixed;
  height:100vh;
  inset:0;
  background-color:white;
  z-index: 2;
  animation:disapear 200ms 3s forwards;
  transform-origin: top;
  animation-iteration-count :1;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  .loader
  {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:9.3rem;
    height:9.3rem;
    background:transparent;
    border-radius:50%;
    text-align:center;
    line-height:9.3rem;
    font-family:sans-serif;
    font-size:1.25rem;
    color:colors.$primaire;
    letter-spacing:0.25rem;
    text-transform:uppercase;
    text-shadow:0 0 0.62rem colors.$primaire;
    box-shadow:0 0 1.25rem rgba(0,0,0,.5);
    &::before
    {
      content:'';
      position:absolute;
      top:-0.2rem;
      left:-0.2rem;
      width:100%;
      height:100%;
      border:0.2rem solid transparent;
      border-top:0.2rem solid colors.$primaire;
      border-right:0.2rem solid colors.$primaire;
      border-radius:50%;
      animation:animateC 2s linear infinite;
    }
  }
  .loader span
  {
    display:block;
    position:absolute;
    top:calc(50% - 2px);
    left:50%;
    width:50%;
    height:0.25rem;
    background:transparent;
    transform-origin:left;
    animation:animate 2s linear infinite;
    &::before
    {
      content:'';
      position:absolute;
      width:1rem;
      height:1rem;
      border-radius:50%;
      background:colors.$primaire;
      top:-0.4rem;
      right:-0.5rem;
      box-shadow:0 0 1.25rem colors.$primaire;
    
    }
  }
}
