@keyframes animation_check
{
    0%
    {
      transform: rotate(0);
       
    }
    100%
    {
      transform:rotate(270deg)  
    }
}

@keyframes animation_menu
{
    0%
    {
        transform:translateY(10px);
        opacity:0;
    }
    100%
    {
        transform:translateY(0);
        opacity: 1;
    }
}

@keyframes animateC
{
  0%
  {
    transform:rotate(0deg);
  }
  100%
  {
    transform:rotate(360deg);
    
  }
}
@keyframes animate
{
  0%
  {
    transform:rotate(45deg);
  }
  100%
  {
    transform:rotate(405deg);
    
  }
}
@keyframes disapear{
  to
  {
    transform: scale(0);
  }
 
}
