@mixin base-shadow($color){
    box-shadow:0.25rem 0.25rem 0.6rem $color;
}
@mixin transform-scale
{
    transform: scale(1.02);
}
@mixin opacity09 {
    opacity: 0.9;
}
@mixin opacity0
{
    opacity: 0;
}
@mixin opacity1{
    opacity: 1;
}
@mixin font{
    font-family: 'Roboto', sans empattement;
}
@mixin fontsh {
    font-family : 'Shrikhand', cursive ;
}
@mixin translation
{
    transform: translateY(-50%);
}
